.card{
    position: relative;
}
button{
    position: absolute;
    bottom: 20px;
    text-decoration: none;
    font-size: 1.5rem;
    left: 10px;
}
.btn-outline-danger{
    border: none;
    &:hover{
        background-color: transparent;
    }
}