<nav class="navbar navbar-expand bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">AngularMovie</a>
      <div class=" navbar-collapse d-flex justify-content-between align-items-center" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item" *ngIf="utente">
            <a class="nav-link active" [routerLink]="['/movies']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Movies</a>
          </li>
          <li class="nav-item" *ngIf="utente">
            <a class="nav-link active" [routerLink]="['/favorite']" routerLinkActive="active">Favorite</a>
          </li>
          <li class="nav-item" *ngIf="utente">
            <a class="nav-link active" [routerLink]="['/profile']" routerLinkActive="active">Profile</a>
          </li>
        </ul>
        <ul class="navbar-nav">
             <li class="nav-item" *ngIf="!utente">
               <button class="btn btn-outline-light me-2" [routerLink]="['/login']" routerLinkActive="active">Login</button>
             </li>
             <li class="nav-item" *ngIf="!utente">
               <button class="btn btn-outline-light" [routerLink]="['/register']" routerLinkActive="active">Sign up</button>
             </li>
        </ul>
        <div *ngIf="utente">
            <div class="d-flex align-items-center">
              <h6 *ngIf="utente" class="m-0 text-secondary">Benvenuto {{utente.user.nome}}</h6>
              <button type="button" class="btn btn-outline-danger ms-2 float-end"  (click)="logout()">Logout</button>
            </div>
        </div>
      </div>
    </div>
  </nav>

