<div class="container mt-3">
  <h1 class="display-5">Film popolari</h1>
  <div class="row g-3 mt-3">
    <div class="card-img-overlay" *ngIf="!prefe.length; else heart">
    <div class="col-3" *ngFor="let film of films; let i = index">
      <div class="card text-bg-dark">
        <img
          src="http://image.tmdb.org/t/p/w500{{ film.poster_path }}"
          class="card-img"
          alt="..."
        />
          <button
            class="card-text btn text-light"
            (click)="addFavorite(newUtente.user.id, film.id, i)"
          >
            <i class="bi bi-heart-fill"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #heart>
  <div class="col-3" *ngFor="let film of films; let i = index">
    <div class="card text-bg-dark">
      <img
      src="http://image.tmdb.org/t/p/w500{{ film.poster_path }}"
      class="card-img"
      alt="..."
      />
      <button
      class="card-text btn"
      (click)="addFavorite(newUtente.user.id, film.id, i)"
      [ngClass]=" {'btn-outline-danger': film.fav === true, 'btn-outline-light': film.fav === false}"
        >
          <i class="bi bi-heart-fill"></i>
        </button>
    </div>
  </div>
</ng-template>
